DesktopApp1/DesktopApp1/Connected Services/Assignment4Reference/WebServiceAssignment4.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://rentacar.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://rentacar.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://rentacar.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllCars">
        <s:complexType />
      </s:element>
      <s:element name="GetAllCarsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllCarsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllPersons">
        <s:complexType />
      </s:element>
      <s:element name="GetAllPersonsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllPersonsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllOwners">
        <s:complexType />
      </s:element>
      <s:element name="GetAllOwnersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllOwnersResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllCarsJava">
        <s:complexType />
      </s:element>
      <s:element name="getAllCarsJavaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllCarsJavaResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getAllOwnerJava">
        <s:complexType />
      </s:element>
      <s:element name="getAllOwnerJavaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllOwnerJavaResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllPersonsJava">
        <s:complexType />
      </s:element>
      <s:element name="getAllPersonsJavaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllPersonsJavaResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllCarsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllCars" />
  </wsdl:message>
  <wsdl:message name="GetAllCarsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllCarsResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllPersonsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllPersons" />
  </wsdl:message>
  <wsdl:message name="GetAllPersonsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllPersonsResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllOwnersSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllOwners" />
  </wsdl:message>
  <wsdl:message name="GetAllOwnersSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllOwnersResponse" />
  </wsdl:message>
  <wsdl:message name="getAllCarsJavaSoapIn">
    <wsdl:part name="parameters" element="tns:getAllCarsJava" />
  </wsdl:message>
  <wsdl:message name="getAllCarsJavaSoapOut">
    <wsdl:part name="parameters" element="tns:getAllCarsJavaResponse" />
  </wsdl:message>
  <wsdl:message name="getAllOwnerJavaSoapIn">
    <wsdl:part name="parameters" element="tns:getAllOwnerJava" />
  </wsdl:message>
  <wsdl:message name="getAllOwnerJavaSoapOut">
    <wsdl:part name="parameters" element="tns:getAllOwnerJavaResponse" />
  </wsdl:message>
  <wsdl:message name="getAllPersonsJavaSoapIn">
    <wsdl:part name="parameters" element="tns:getAllPersonsJava" />
  </wsdl:message>
  <wsdl:message name="getAllPersonsJavaSoapOut">
    <wsdl:part name="parameters" element="tns:getAllPersonsJavaResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceAssignment4Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCars">
      <wsdl:input message="tns:GetAllCarsSoapIn" />
      <wsdl:output message="tns:GetAllCarsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPersons">
      <wsdl:input message="tns:GetAllPersonsSoapIn" />
      <wsdl:output message="tns:GetAllPersonsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllOwners">
      <wsdl:input message="tns:GetAllOwnersSoapIn" />
      <wsdl:output message="tns:GetAllOwnersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllCarsJava">
      <wsdl:input message="tns:getAllCarsJavaSoapIn" />
      <wsdl:output message="tns:getAllCarsJavaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllOwnerJava">
      <wsdl:input message="tns:getAllOwnerJavaSoapIn" />
      <wsdl:output message="tns:getAllOwnerJavaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllPersonsJava">
      <wsdl:input message="tns:getAllPersonsJavaSoapIn" />
      <wsdl:output message="tns:getAllPersonsJavaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceAssignment4Soap" type="tns:WebServiceAssignment4Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://rentacar.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCars">
      <soap:operation soapAction="http://rentacar.org/GetAllCars" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPersons">
      <soap:operation soapAction="http://rentacar.org/GetAllPersons" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllOwners">
      <soap:operation soapAction="http://rentacar.org/GetAllOwners" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllCarsJava">
      <soap:operation soapAction="http://rentacar.org/getAllCarsJava" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllOwnerJava">
      <soap:operation soapAction="http://rentacar.org/getAllOwnerJava" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllPersonsJava">
      <soap:operation soapAction="http://rentacar.org/getAllPersonsJava" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceAssignment4Soap12" type="tns:WebServiceAssignment4Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://rentacar.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCars">
      <soap12:operation soapAction="http://rentacar.org/GetAllCars" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPersons">
      <soap12:operation soapAction="http://rentacar.org/GetAllPersons" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllOwners">
      <soap12:operation soapAction="http://rentacar.org/GetAllOwners" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllCarsJava">
      <soap12:operation soapAction="http://rentacar.org/getAllCarsJava" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllOwnerJava">
      <soap12:operation soapAction="http://rentacar.org/getAllOwnerJava" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllPersonsJava">
      <soap12:operation soapAction="http://rentacar.org/getAllPersonsJava" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceAssignment4">
    <wsdl:port name="WebServiceAssignment4Soap" binding="tns:WebServiceAssignment4Soap">
      <soap:address location="http://localhost:49780/WebServiceAssignment4.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceAssignment4Soap12" binding="tns:WebServiceAssignment4Soap12">
      <soap12:address location="http://localhost:49780/WebServiceAssignment4.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>