DesktopApp1/DesktopApp1/Connected Services/Assignment6Reference/WebServiceAss6.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://rentacar.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://rentacar.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://rentacar.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllIndexes">
        <s:complexType />
      </s:element>
      <s:element name="GetAllIndexesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllIndexesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllKeys">
        <s:complexType />
      </s:element>
      <s:element name="GetAllKeysResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllKeysResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllTableConstraints">
        <s:complexType />
      </s:element>
      <s:element name="GetAllTableConstraintsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllTableConstraintsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllColumnsFromEmp1">
        <s:complexType />
      </s:element>
      <s:element name="GetAllColumnsFromEmp1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllColumnsFromEmp1Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllColumnsFromEmp2">
        <s:complexType />
      </s:element>
      <s:element name="GetAllColumnsFromEmp2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllColumnsFromEmp2Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllTablesDB1">
        <s:complexType />
      </s:element>
      <s:element name="GetAllTablesDB1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllTablesDB1Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllTablesDB2">
        <s:complexType />
      </s:element>
      <s:element name="GetAllTablesDB2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllTablesDB2Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNameAbsentMost">
        <s:complexType />
      </s:element>
      <s:element name="GetNameAbsentMostResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetNameAbsentMostResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInfoEmpSickness2004">
        <s:complexType />
      </s:element>
      <s:element name="GetInfoEmpSickness2004Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInfoEmpSickness2004Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInfoFromEmpAndRelatives">
        <s:complexType />
      </s:element>
      <s:element name="GetInfoFromEmpAndRelativesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInfoFromEmpAndRelativesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMetaDataFromEmpAndRelated">
        <s:complexType />
      </s:element>
      <s:element name="GetMetaDataFromEmpAndRelatedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMetaDataFromEmpAndRelatedResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllIndexesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllIndexes" />
  </wsdl:message>
  <wsdl:message name="GetAllIndexesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllIndexesResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllKeysSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllKeys" />
  </wsdl:message>
  <wsdl:message name="GetAllKeysSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllKeysResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllTableConstraintsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllTableConstraints" />
  </wsdl:message>
  <wsdl:message name="GetAllTableConstraintsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllTableConstraintsResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllColumnsFromEmp1SoapIn">
    <wsdl:part name="parameters" element="tns:GetAllColumnsFromEmp1" />
  </wsdl:message>
  <wsdl:message name="GetAllColumnsFromEmp1SoapOut">
    <wsdl:part name="parameters" element="tns:GetAllColumnsFromEmp1Response" />
  </wsdl:message>
  <wsdl:message name="GetAllColumnsFromEmp2SoapIn">
    <wsdl:part name="parameters" element="tns:GetAllColumnsFromEmp2" />
  </wsdl:message>
  <wsdl:message name="GetAllColumnsFromEmp2SoapOut">
    <wsdl:part name="parameters" element="tns:GetAllColumnsFromEmp2Response" />
  </wsdl:message>
  <wsdl:message name="GetAllTablesDB1SoapIn">
    <wsdl:part name="parameters" element="tns:GetAllTablesDB1" />
  </wsdl:message>
  <wsdl:message name="GetAllTablesDB1SoapOut">
    <wsdl:part name="parameters" element="tns:GetAllTablesDB1Response" />
  </wsdl:message>
  <wsdl:message name="GetAllTablesDB2SoapIn">
    <wsdl:part name="parameters" element="tns:GetAllTablesDB2" />
  </wsdl:message>
  <wsdl:message name="GetAllTablesDB2SoapOut">
    <wsdl:part name="parameters" element="tns:GetAllTablesDB2Response" />
  </wsdl:message>
  <wsdl:message name="GetNameAbsentMostSoapIn">
    <wsdl:part name="parameters" element="tns:GetNameAbsentMost" />
  </wsdl:message>
  <wsdl:message name="GetNameAbsentMostSoapOut">
    <wsdl:part name="parameters" element="tns:GetNameAbsentMostResponse" />
  </wsdl:message>
  <wsdl:message name="GetInfoEmpSickness2004SoapIn">
    <wsdl:part name="parameters" element="tns:GetInfoEmpSickness2004" />
  </wsdl:message>
  <wsdl:message name="GetInfoEmpSickness2004SoapOut">
    <wsdl:part name="parameters" element="tns:GetInfoEmpSickness2004Response" />
  </wsdl:message>
  <wsdl:message name="GetInfoFromEmpAndRelativesSoapIn">
    <wsdl:part name="parameters" element="tns:GetInfoFromEmpAndRelatives" />
  </wsdl:message>
  <wsdl:message name="GetInfoFromEmpAndRelativesSoapOut">
    <wsdl:part name="parameters" element="tns:GetInfoFromEmpAndRelativesResponse" />
  </wsdl:message>
  <wsdl:message name="GetMetaDataFromEmpAndRelatedSoapIn">
    <wsdl:part name="parameters" element="tns:GetMetaDataFromEmpAndRelated" />
  </wsdl:message>
  <wsdl:message name="GetMetaDataFromEmpAndRelatedSoapOut">
    <wsdl:part name="parameters" element="tns:GetMetaDataFromEmpAndRelatedResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceAss6Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllIndexes">
      <wsdl:input message="tns:GetAllIndexesSoapIn" />
      <wsdl:output message="tns:GetAllIndexesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllKeys">
      <wsdl:input message="tns:GetAllKeysSoapIn" />
      <wsdl:output message="tns:GetAllKeysSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTableConstraints">
      <wsdl:input message="tns:GetAllTableConstraintsSoapIn" />
      <wsdl:output message="tns:GetAllTableConstraintsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllColumnsFromEmp1">
      <wsdl:input message="tns:GetAllColumnsFromEmp1SoapIn" />
      <wsdl:output message="tns:GetAllColumnsFromEmp1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllColumnsFromEmp2">
      <wsdl:input message="tns:GetAllColumnsFromEmp2SoapIn" />
      <wsdl:output message="tns:GetAllColumnsFromEmp2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTablesDB1">
      <wsdl:input message="tns:GetAllTablesDB1SoapIn" />
      <wsdl:output message="tns:GetAllTablesDB1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTablesDB2">
      <wsdl:input message="tns:GetAllTablesDB2SoapIn" />
      <wsdl:output message="tns:GetAllTablesDB2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNameAbsentMost">
      <wsdl:input message="tns:GetNameAbsentMostSoapIn" />
      <wsdl:output message="tns:GetNameAbsentMostSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInfoEmpSickness2004">
      <wsdl:input message="tns:GetInfoEmpSickness2004SoapIn" />
      <wsdl:output message="tns:GetInfoEmpSickness2004SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInfoFromEmpAndRelatives">
      <wsdl:input message="tns:GetInfoFromEmpAndRelativesSoapIn" />
      <wsdl:output message="tns:GetInfoFromEmpAndRelativesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMetaDataFromEmpAndRelated">
      <wsdl:input message="tns:GetMetaDataFromEmpAndRelatedSoapIn" />
      <wsdl:output message="tns:GetMetaDataFromEmpAndRelatedSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceAss6Soap" type="tns:WebServiceAss6Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://rentacar.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllIndexes">
      <soap:operation soapAction="http://rentacar.org/GetAllIndexes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllKeys">
      <soap:operation soapAction="http://rentacar.org/GetAllKeys" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTableConstraints">
      <soap:operation soapAction="http://rentacar.org/GetAllTableConstraints" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllColumnsFromEmp1">
      <soap:operation soapAction="http://rentacar.org/GetAllColumnsFromEmp1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllColumnsFromEmp2">
      <soap:operation soapAction="http://rentacar.org/GetAllColumnsFromEmp2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTablesDB1">
      <soap:operation soapAction="http://rentacar.org/GetAllTablesDB1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTablesDB2">
      <soap:operation soapAction="http://rentacar.org/GetAllTablesDB2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNameAbsentMost">
      <soap:operation soapAction="http://rentacar.org/GetNameAbsentMost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInfoEmpSickness2004">
      <soap:operation soapAction="http://rentacar.org/GetInfoEmpSickness2004" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInfoFromEmpAndRelatives">
      <soap:operation soapAction="http://rentacar.org/GetInfoFromEmpAndRelatives" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMetaDataFromEmpAndRelated">
      <soap:operation soapAction="http://rentacar.org/GetMetaDataFromEmpAndRelated" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceAss6Soap12" type="tns:WebServiceAss6Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://rentacar.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllIndexes">
      <soap12:operation soapAction="http://rentacar.org/GetAllIndexes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllKeys">
      <soap12:operation soapAction="http://rentacar.org/GetAllKeys" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTableConstraints">
      <soap12:operation soapAction="http://rentacar.org/GetAllTableConstraints" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllColumnsFromEmp1">
      <soap12:operation soapAction="http://rentacar.org/GetAllColumnsFromEmp1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllColumnsFromEmp2">
      <soap12:operation soapAction="http://rentacar.org/GetAllColumnsFromEmp2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTablesDB1">
      <soap12:operation soapAction="http://rentacar.org/GetAllTablesDB1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTablesDB2">
      <soap12:operation soapAction="http://rentacar.org/GetAllTablesDB2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNameAbsentMost">
      <soap12:operation soapAction="http://rentacar.org/GetNameAbsentMost" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInfoEmpSickness2004">
      <soap12:operation soapAction="http://rentacar.org/GetInfoEmpSickness2004" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInfoFromEmpAndRelatives">
      <soap12:operation soapAction="http://rentacar.org/GetInfoFromEmpAndRelatives" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMetaDataFromEmpAndRelated">
      <soap12:operation soapAction="http://rentacar.org/GetMetaDataFromEmpAndRelated" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceAss6">
    <wsdl:port name="WebServiceAss6Soap" binding="tns:WebServiceAss6Soap">
      <soap:address location="http://localhost:49535/WebServiceAss6.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceAss6Soap12" binding="tns:WebServiceAss6Soap12">
      <soap12:address location="http://localhost:49535/WebServiceAss6.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>